@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@font-face {
  font-family: 'TTHakgyoansimMonggeulmonggeulR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'TTHakgyoansimMonggeulmonggeulR', sans-serif;
  /*border-radius: 25px;*/
}

#root {
  background-image: linear-gradient(147deg, #3badff 0%, #8738fd 74%);
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
  display: flex;
}
.swiperWrapper {
  width: 90% !important;
  position: relative !important;
  max-width: 900px;
  margin: auto;
  background: #fff;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
  overflow: visible !important;
  overflow-y: clip !important;
}
@media screen and (max-width: 992px) {
  .swiperWrapper {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .swiperWrapper {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .swiperWrapper {
    height: 350px;
  }
}
